$enable-grid-classes: true !default;


$use-aspect-ratio: true !default;
$use-background-size: true !default;
$use-clearfix: true !default;
$use-text-colors: true !default;
$use-bg-colors: true !default;
$use-font-family: true !default;
$use-font-size: true !default;
$use-font-weight: true !default;
$use-spacing: true !default;
$use-spacing-responsive: true !default;
$use-text-alignment: true !default;
$use-text-style: true !default;
